.container {
height: 450px;
width: 500px;
background-color: rgb(243, 234, 186);
border: 4px ridge rgba(255, 197, 5, 0.76);
border-radius: 2%;
margin-left: 10%;
}
.info {
    display: inline;
    justify-items: center;
    margin-left: 5%;       
}
.photo {
    display: flex;
    position: relative;
    height: 355px;
    width: 235px;           
}
.botton {
    width: 55px;
    height: 30px;
    text-align: center;
    margin-top: 2%;
}
.insertCal {
    width: 100px;
    height: 30px;
    border: blanchedalmond;
    border-radius: 5px;
}
.insertSec {
    width: 100px;
    height: 30px;
    border: blanchedalmond;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5px;
}
img {
    position: fixed;
    width: 230px;
    height: 350px;
    border-radius: 5%;
    margin-left: 3%;
}
.bottonList {
    padding: 3px;
    display: inline;    
}
