
.container{display: flex;
    justify-content: space-;
    /* align-items: space-around; */
    flex-wrap: wrap;
    margin: 47px;
    padding: 25px;
}
.card{
    box-sizing: border-box;
    height: 140px;
    width: 270px;
    border-radius: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px;
    padding: 10px;
    


}
.calledas{
    color: white;
    font-size: 12px;
    text-align:right;
    padding-top: 1rem;
}
.name{
    color: rgba(255,255,255,0.5);
    font-size: 9px;
    text-align:right;
    /* padding: 10px 0 10px 10px; */
    margin: 0;

}
h3{
    margin: 0;
}

img{
    height: 182px;
    width: auto;
    position:absolute;
    /* top:12px; */
    bottom: -12px;
    transform: scale(0.87);
    
}

.capitanamericacard{background: linear-gradient(#4568DC, #b06AB3);}
.ironmancard{background: linear-gradient(#e52d27, #b31217);}
.blackwidowcard{background: linear-gradient(#000, #61045F);}
.spidermancard{background: linear-gradient(#e52d27,#000);}
.spider{top: -11px;}
