.time{
    background-color: green;
    text-align: center;
    }
.soul{background-color:rgb(255, 167, 5);
    text-align: center;}
.mind{background-color: rgb(243, 230, 41);
    text-align: center;

}
.reality{background-color: rgb(172, 14, 14);
    text-align: center;}
.power{background-color: rgb(69, 9, 109);
    text-align: center;}
.space{background-color: rgb(18, 53, 168);
    text-align: center;}
.marvel{ text-align: center;}
img { border-radius: 20%;}